<div class="mt-16">
  <div class="card text-center">
    <div class="card-header">
      {{this.title}}
    </div>
    <div class="card-body">
      <h5 class="card-title">{{this.header}}</h5>
      <p class="card-text">{{this.message}}</p>
      <a href="{{this.urlRedirect}}" class="btn btn-primary">Trở lại</a>
    </div>
    <div class="card-footer text-muted">
      2 days ago
    </div>
  </div>
</div>